<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="areeb.xposed.eggster">

    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity
                android:name=".ui.MainActivity"
                android:label="@string/app_name"
                android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
                android:name=".eggs.gb.PlatLogoActivity"
                android:label="PlatLogoActivity"
                android:theme="@style/Theme.Wallpaper">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

            </intent-filter>
        </activity>

        <activity
                android:name=".eggs.hc.PlatLogoActivity"
                android:label="PlatLogoActivity"
                android:theme="@style/Theme.Wallpaper">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

            </intent-filter>
        </activity>

        <activity
                android:name=".eggs.ics.PlatLogoActivity"
                android:label="PlatLogoActivity"
                android:theme="@style/Theme.Wallpaper">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

            </intent-filter>
        </activity>

        <activity
                android:name=".eggs.ics.Nyandroid"
                android:label="PlatLogoActivity"
                android:theme="@style/Theme.Wallpaper">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

            </intent-filter>
        </activity>

        <activity
                android:name=".eggs.jb.PlatLogoActivity"
                android:label="PlatLogoActivity"
                android:theme="@style/Theme.Wallpaper">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

            </intent-filter>
        </activity>

        <activity
                android:name=".eggs.jb.BeanBag"
                android:label="PlatLogoActivity"
                android:theme="@style/Theme.Wallpaper">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

            </intent-filter>
        </activity>

        <activity
                android:name=".eggs.kk.PlatLogoActivity"
                android:label="PlatLogoActivity"
                android:theme="@style/Theme.Wallpaper">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

            </intent-filter>
        </activity>

        <activity
                android:name=".eggs.kk.DessertCase"
                android:label="PlatLogoActivity"
                android:theme="@style/Theme.Wallpaper">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

            </intent-filter>
        </activity>

        <activity
                android:name=".eggs.l.PlatLogoActivity"
                android:label="PlatLogoActivity"
                android:theme="@style/Theme.Wallpaper">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

            </intent-filter>
        </activity>

        <activity
                android:name=".eggs.lp.PlatLogoActivity"
                android:label="PlatLogoActivity"
                android:theme="@style/Theme.Wallpaper">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

            </intent-filter>
        </activity>

        <activity
                android:name=".eggs.lp.LLandActivity"
                android:label="PlatLogoActivity"
                android:theme="@style/Theme.Wallpaper">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

            </intent-filter>
        </activity>

        <activity
                android:name=".eggs.mm.PlatLogoActivity"
                android:label="PlatLogoActivity"
                android:theme="@style/Theme.Wallpaper">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

            </intent-filter>
        </activity>

        <activity
                android:name=".eggs.mm.MLandActivity"
                android:label="PlatLogoActivity"
                android:theme="@style/Theme.Wallpaper">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

            </intent-filter>
        </activity>

        <activity
                android:name=".eggs.n.PlatLogoActivity"
                android:label="PlatLogoActivity"
                android:theme="@style/Theme.Wallpaper">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

            </intent-filter>
        </activity>
    </application>

</manifest>
